name: 'Code_coverage'
on:
  push:
    branches:
      - main
jobs:
  code_cov:
    runs-on: ubuntu-latest
    env:
      OS: ubuntu-latest
      PYTHON: '3.9'
    steps:
      - uses: actions/checkout@v3
      - name: 'install dependencies'
        run: pip3 install -r requirements-dev.txt
      - name: 'install coverage'
        run: pip3 install coverage
      - name: 'navigate to unittest directory'
          run: cd unit_tests/
      - name: 'Code coverage check'
        run: coverage run -m unittest Corekaburra_test.py
      - name: 'Upload coverage report'
        uses: codecov/codecov-action@v3
        with:
          files: .coverage # optional
          flags: unittests # optional
          name: codecov-Corekaburra # optional
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)